body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body * {
    box-sizing: border-box;
}

h1 {
    letter-spacing: 2px;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: rgb(35, 27, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: rgb(255, 255, 255);
    font-size: 3vw;
}

.left-login-image {
    width: 65vh;
}

.left-login-image2 {
    width: 65vh;
    display: none;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(46, 33, 66);
    border-radius: 20px;
    box-shadow: 0px 5px 40px rgb(14, 12, 17);
}

.card-login > h1 {
    color: rgb(15, 170, 131);
    font-weight: 800;
    margin: 0;
    letter-spacing: 2px;
}

.text-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(255, 255, 255);
    font-size: 12pt;
    box-shadow: 0px 5px 40px rgb(18, 13, 26);
    outline: none;
    box-sizing: border-box;
}

.text-field > label {
    color: rgb(139, 139, 139);
    margin-bottom: 10px;
}

.text-field > input::placeholder {
    color: rgb(100, 100, 100);
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    background: rgb(15, 170, 131);
    cursor: pointer;
    box-shadow: 0px 10px 25px -12px rgba(16, 182, 140, 0.705);
}

.btn-login:hover {
    color: rgb(0, 0, 0);
    background: rgb(8, 88, 68);
    transition: 350ms;
}

.btn-register {
    width: 100%;
    padding: 16px 0px;
    margin: 1px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
    background: rgb(15, 170, 131);
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0px 10px 25px -12px rgba(16, 182, 140, 0.705);
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }  
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }
    .left-login-image {
        display: none;
    }
    .left-login-image2 {
        width: 35vh;
        display: flex;
    }
    .card-login {
        width: 90%;
    }
}